<h1>Date: <%= @appointment.appointment_datetime.to_formatted_s(:long_ordinal)%></h1>
<h1>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></h1>
<h1>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%></h1>
